html {
    height: 100%;
}
* {
    padding: 0;
    margin: 0;
}
body {
    height: 100%;
    line-height: 20px;
    color: rgb(102, 102, 102);
    font-family: "Microsoft YaHei";
    background: rgb(243, 241, 237);
}
#wrap {
    width: 100%;
    min-width: 1160px;
    overflow: hidden;
}
header {
    height: 120px;
    background: #fff;
}
.container {
    position: relative;
    display: block;
    float: none;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    float: left;
    width: 243px;
    height: 54px;
    padding: 33px 0 0 0;
}
header h1 a {
    display: block;
}
a {
    outline: 0;
    text-decoration: none;
}
a {
    color: #333;
}
a img {
    border: 0;
}
.head-right {
    float: right;
    height: 52px;
    padding-top: 42px;
}
.search-head {
    float: left;
    width: 300px;
    height: 36px;
    border: solid 3px #2886db;
    border-radius: 5px;
}
.search-head input {
    float: left;
    width: 210px;
    height: 16px;
    line-height: 16px;
    padding: 10px 20px;
    color: #b3b2ae;
    font-size: 14px;
    border: 0;
    background: #fff;
    color: #b3b2ae;
}
input textarea {
    font-family: \5FAE\8F6F\96C5\9ED1;
}
.search-head button {
    float: right;
    width: 49px;
    height: 36px;
    font-size: 18px;
    background: #2886db;
    border: 0;
    cursor: pointer;
    -moz-border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    border-radius: 0;
}
.icon-search {
    width: 22px;
    height: 22px;
    margin: 0 0 0 14px;
    background: url(http://static.feidieshuo.com/static/images/icon.png) left top no-repeat;
}
.icon {
    display: inline-block;
    float: left;
}
.head-right-islogin {
    float: right;
    height: 52px;
    line-height: 52px;
}
.btn {
    color: #fff;
    font-family: \5FAE\8F6F\96C5\9ED1;
    cursor: pointer;
    height: 52px;
    text-align: center;
    padding: 0 15px;
    border: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
}
a.btn {
    display: inline-block;
    line-height: 52px;
    font-size: 26px;
}
a.btn-login {
    float: right;
    background: #2886db;
    text-align: center;
    padding: 0 20px;
    font-size: 18px;
    margin-left: 10px;
    height: 42px;
    line-height: 42px;
}
nav {
    height: 48px;
    line-height: 48px;
    background: #fe6e00;
}
.container {
    position: relative;
    display: block;
    float: none;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}
nav ul {
    width: 1001px;
}
ul {
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
    -webkit-list-style-position: inside;
    -moz-list-style-position: inside;
    -ms-list-style-position: inside;
    -o-list-style-position: inside;
}
nav ul li {
    width: 144px;
    float: left;
    font-family: \5FAE\8F6F\96C5\9ED1;
    margin-left: -1px;
    position: relative;
    z-index: 9;
}
li {
    list-style-type: none;
}
nav ul li a {
    display: block;
    height: 48px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    text-shadow: 1px 0 0 #f25a00, -1px 0 0 #f25a00, 0px 1px 0 #f25a00, 0px -1px 0 #f25a00;
}
nav ul li:last-child a {
    background: 0;
}
.Submenu {
    width: 400px;
    position: absolute;
    background-color: #FFF;
    z-index: 999;
    display: none;
}
.df {
    width: 130px;
    height: 40px;
    z-index: 999;
    float: left;
}
nav ul li:last-child a {
    background: 0;
}
.Submenu a {
    display: block;
    height: 40px;
    line-height: 40px;
    text-shadow: none;
    color: #9f9f9f;
    font-family: \5FAE\8F6F\96C5\9ED1;
    font-size: 16px;
    font-weight: normal;
}
.t-pages {
    width: 100%;
    height: 380px;
    margin-top: 20px;
}
.carousel {
    width: 600px;
    height: 100%;
    float: left;
    position: relative;
    margin-right: 10px;
}
.nivoSlider {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.nivoSlider img {
    position: absolute;
    top: 0;
    left: 0;
    max-width: none;
    height: 339px;
    width: 600px;
    border-radius: 5px;
}
.QR-Code {
    width: 300px;
    position: relative;
    float: left;
}
.weixinweibo {
    width: 295px;
    position: relative;
}
.img2 {
    width: 295px;
    height: 260px;
    position: relative;
}
.weixin a {
    width: 147.5px;
    height: 80px;
    background: url(http://static.feidieshuo.com/static/images/weixin.png) no-repeat;
    float: left;
    z-index: 99;
}
.weibo a {
    width: 147.5px;
    height: 80px;
    background: url(http://static.feidieshuo.com/static/images/weibo.png) no-repeat;
    float: right;
}
.qr-code-weixin {
    position: absolute;
    right: 290px;
    bottom: -100px;
    z-index: 999;
    display: none;
}
.qr-code-weibo {
    position: absolute;
    right: 125px;
    bottom: -100px;
    z-index: 999;
    display: none;
}
.index-video {
    position: relative;
    left: -68px;
    width: 100%;
    padding: 15px 0 0 68px;
}
.t-main {
    height: 40px;
    line-height: 40px;
    margin-bottom: 56px;
}
.t-main h2 {
    float: left;
    font-size: 40px;
    font-weight: normal;
    color: gray;
}
.t-main h2 img {
    width: 50px;
    height: 50px;
    position: relative;
    top: 6px;
}
.list-video {
    overflow: hidden;
    margin-bottom: 10px;
    position: relative;
}
.index-video .list-video ul {
    width: 960px;
    margin-bottom: 10px;
    position: relative;
}

.list-video ul {
    width: 840px;
}
.clearfix {
    display: block;
}
.clearfix {
    display: inline-block;
}
.index-video .list-video ul li {
    width: 600px;
    height: 498px;
    margin: 15px 60px 60px 15px;
}
.outer {
    z-index: 1;
    display: block;
    overflow: hidden;
}
.index-video .list-video ul li .pic img {
    width: 600px;
    height: 330px;
}
.list-video ul li .pic img {
    border-radius: 5px 5px 0 0;
}
a img {
    border: 0;
}
.list-video ul li .cnt {
    height: 210px;
    padding: 30px 48px 0;
    position: relative;
    z-index: 2;
}
.list-video ul li .cnt .t {
    width: 600px;
    height: 48px;
    line-height: 42px;
    position: relative;
    float: left;
}
.list-video ul li .cnt .t h3 {
    width: 510px;
    font-family: "Microsoft YaHei";
    color: #555;
    font-size: 36px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.list-video ul li .cnt .fun {
    height: 60px;
    line-height: 60px;
    font-size: 31.5px;
    color: #c3c0bb;
}
.pull-left {
    float: left;
}
.mr-1-5 {
    margin-right: 45px;
}
.icon-view2 {
    width: 18px;
    height: 14px;
    background: url(http://static.feidieshuo.com/static/images/icon.png);
    background-position: -80px 0;
    margin: 24px 15px;
}
.icon-comment {
    width: 18px;
    height: 14px;
    background: url(http://static.feidieshuo.com/static/images/icon.png);
    background-position: -100px 0;
    margin: 24px 15px;
}
.footer {
    height: 480px;
    border-top: solid 6px #e1ddd5;
    line-height: 66px;
    font-size: 25px;
}
.footer .container {
    position: relative;
    display: block;
    float: none;
    width: 960px;
}
.footer .container .foot-left {
    float: left;
    width: 1200px;
    height: 450px;
}
.footer .container .foot-left a {
    float: left;
    width: 240px;
    height: 240px;
    margin-top: 90px;
}
.footer .container .foot-left a img{
    width: 240px;
    height: 240px;
}
.footer .container .foot-left .cnt {
    position: relative;
    display: block;
    margin-left: 300px;
    padding-top: 60px;
    width: 600px;
    height: 450px;
}
.footer .container .foot-left .cnt div {
    display: block;
    position: relative;
    float: left;
}
.footer .container .foot-left .cnt .foot-link {
    width: 600px;
    height: 35px;
    color: #fe6e00;
    text-decoration: none;
    line-height: 35px;
}
.footer .container .foot-left .cnt .foot-link p {
    margin: 0;
    width: 600px;
    height: 35px;
    color: #fe6e00;
    outline: 0;
    text-decoration: none;
}
.cnt h2 {
    margin-top: 50px;
}
.cnt p {
    width: 800px;
}
.fixed {
    position: fixed;
    left: 97%;
    top: 72%;
    width: 50px;
}
.fixed a {
    display: block;
    width: 50px;
    height: 50px;
}